@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Create game</h5>
        <form method="post">
            <div class="mb-3">
                <label asp-for="ConfigId" class="form-label"></label>
                <select asp-for="ConfigId" class="form-control" asp-items="Model.ConfigSelectList"></select>
            </div>
            <div class="mb-3">
                <label asp-for="GameId" class="form-label"></label>
                <input asp-for="GameId" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
