@page
@using GameBrain
@model IndexModel
@{
    ViewData["Title"] = "Tic-Tac-Two";
}

@{
    void RenderPlayerToken(PlayerToken? pt)
    {
        if (pt != null)
        {
            <div class="alert alert-success" role="alert">
                Player <strong>@pt.Type</strong> token: @pt.Token
                <a class="btn btn-primary" role="button" href="./Game?Token=@pt.Token">Join</a>
            </div>
        }
    }

    RenderPlayerToken(Model.XPlayerToken);
    RenderPlayerToken(Model.OPlayerToken);
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create game</h5>
        <form method="post" asp-page-handler="CreateGame">
            <div class="mb-3">
                <label asp-for="ConfigId" class="form-label"></label>
                <select asp-for="ConfigId" class="form-control" asp-items="Model.ConfigSelectList"></select>
            </div>
            <button type="submit" class="btn btn-primary">Create game</button>
        </form>
    </div>
</div>

<p>or</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Join game</h5>
        <form method="get" asp-page="Game">
            <div class="mb-3">
                <label for="Token" class="form-label">Token</label>
                <input type="text" class="form-control" id="Token" name="Token">
            </div>
            <button type="submit" class="btn btn-primary">Join game</button>
        </form>
    </div>
</div>

<p>or</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Load game from snapshot</h5>
        <form method="post" asp-page-handler="LoadGameSnapshot">
            <div class="mb-3">
                <label for="Token" class="form-label">Game snapshot (json)</label>
                <textarea class="form-control" asp-for="GameSnapshotJson" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Load game</button>
        </form>
    </div>
</div>